*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: midnightblue;
    --font: 'Poppins', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

header, footer{
    height: 160px;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 32px;
}

tr + tr{
    height: 5rem;
}


