*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #00003d;
    --purple-gradient: rgba(86,14,162,1) 0%, rgba(199,141,199,1) 50%, rgba(244,105,166,1);
    --blue-gradient: rgba(42,77,193,1) 0%, rgba(86,152,226,1) 50%, rgba(147,91,202,1);
    --pink-gradient: rgba(221,82,141,1) 0%, rgba(255,140,105,1) 50%, rgba(251,174,82,1);
    --font: 'Poppins', sans-serif;
    --white: white;
    --light-grey: #f4f4f4;
}

body{
    font-family: var(--font);
    font-weight: 400;
    display: grid;
    grid-row: auto  ;
    align-items: center;
    height: 100vh;
}

header, footer{
    display: flex;
    align-items: center;
    height: 10vh;
}

header{
    padding-inline: 4rem;
    background: rgb(86,14,162);
    background: linear-gradient(135deg, var(--pink-gradient) 100%);
    color: var(--white);
}

header img{
    height: 3rem;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 3rem 3rem 1rem 3rem;
    gap: 32px;
}

.container-table{
    overflow: auto;
    display: flex;
    width: 100%;
    scroll-behavior: smooth;
}

.container-table::-webkit-scrollbar{
    display: none;
}

main h1{
    background-image: linear-gradient(135deg, var(--pink-gradient) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--blue);
    font-size: 2.5rem;
}

table th{
    background-color: var(--light-grey);
    font-weight: 600;
    font-size: 1.5rem;
    position: sticky;
    top: -1px;
    border: solid 0.2px var(--light-grey);
}

th span{
    background-image: linear-gradient(190deg, var(--pink-gradient) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--blue);
}

table{
    border-collapse: collapse;
    width: 100%;
    border: solid 0.2px var(--light-grey);
}

tr{
    height: 5rem;
}

tr > td{
    font-size: 1.4rem;
    padding: 24px;
    border: solid 0.2px var(--light-grey);
}

td *{
    font-size: 1.4rem; 
    text-decoration: none;
    color: black;
}

td a:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer{
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
    background-image: linear-gradient(135deg, var(--pink-gradient) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--blue);
}


