*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #00003d;
    --font: 'Poppins', sans-serif;
    --white: white;
    --grey: #eeeeee;
    --light-grey: #dbdbdb;
}

body{
    font-family: var(--font);
    font-weight: 400;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

header, footer{
    display: flex;
    align-items: center;
}

header{
    padding-inline: 4rem;
    height: 100%;
    background-color: var(--blue);
    color: var(--white);
}

header img{
    height: 3rem;
}

main{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    width: 100%;
    padding: 4rem;
    gap: 32px;
}

main h1{
    color: var(--blue);
    font-size: 2.5rem;
}

table th{
    background-color: var(--grey);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--blue);
}

table{
    border-collapse: collapse;
}

tr{
    height: 5rem;
}

tr > td{
    font-size: 1.4rem;
    padding: 24px;
    border: solid 0.2px var(--light-grey);
}

td *{
    font-size: 1.4rem; 
    text-decoration: none;
    color: black;
}

td a:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer{
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--blue);
}

