*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple: #866475;
    --blue: #789ac0;
    --light-blue: #729cbb;
    --white: white;
    --light-grey: #ead5c6;
    --red: #963027;
    --font: 'Poppins', sans-serif;
    --1989-font: 'Shantell Sans', cursive;;
}

body{
    font-family: var(--font);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

body::after{
    content: '';
    display: block;
    background: linear-gradient(180deg, rgba(139,177,205,1) 0%, rgba(103,137,163,1) 100%);
    width: calc(100% - 10vh);
    height: calc(100% - 10vh);
    position: fixed;
    z-index: -999;
    margin: auto;
    inset: 0;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 10vw 0 10vw;
    gap: 32px;
    align-items: center;
    height: 80vh;
}

main h1, footer{
    font-family: var(--1989-font);
    color: var(--white);
    text-align: center;
}

main h1{
    font-size: 2.2rem;
}

.container-table{
    width: 100%;
    overflow: auto;
    display: flex;
    scroll-behavior: smooth;
    border: solid 0.2px var(--light-grey);
    background-color: var(--light-grey);
    border-radius: 12px;
}

.container-table::-webkit-scrollbar{
    display: none;
}

table th{
    font-weight: 600;
    font-size: 1.5rem;
    position: sticky;
    top: -1px;
    border: solid 0.2px var(--light-grey);
    background-color: var(--light-grey);
}

th span{
    color: var(--red);
}

table{
    border-collapse: collapse;
    width: 100%;
    border: solid 0.2px var(--light-grey);
}

tr{
    height: 5rem;
}

tr > td{
    font-size: 1.4rem;
    padding: 24px;
    border: solid 0.2px var(--light-grey);
    background-color: var(--white);
}

td *{
    font-size: 1.4rem; 
    text-decoration: none;
    color: black;
}

td a:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
    width: 100%;
    padding: 32px 0;
}

img[alt~=Gaivota]{
    position: absolute;
    z-index: -1;
}

#gaivota-1{
    right: 5%;
    top: 6%;
    width: 180px;
}

#gaivota-2{
    left: 5%;
    top: 6%;
    width: 250px;
}

#gaivota-3{
    right: 15%;
    bottom: 2%;
    width: 300px;
}

@media (max-width: 762px) {
    tr td:nth-child(2), table th:nth-child(2){
        display: none;
    }
}

@media (max-width: 400px) {

    body::after{
        width: calc(100% - 5vh);
        height: calc(100% - 5vh);    
    }
    
    main h1{
        font-size: 1.5rem;
    }

    table th{
        font-size: 1.2rem;
    }

    tr td:nth-child(3), table th:nth-child(3){
        display: none;
    }

    tr td:nth-child(1), table th:nth-child(1){
        text-align: center;
    }

    td *{
        font-size: 1.2rem; 
        text-decoration: none;
        color: black;
    }

    footer{
        font-size: 1rem;
    }

    #gaivota-1, #gaivota-2{
        display: none;
    }

}