*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: #d8eaed;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 6px;
}

body::-webkit-scrollbar-thumb{
    background-color: #4ca5b3;
    border-radius: 12px;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    background-image: url(https://img.elo7.com.br/product/original/400610F/papel-de-parede-adesivo-patas-de-cachorro-osso-pet-017-patas-de-animais.jpg);
    background-size: contain;
    z-index: 999;
}

.pesquisa{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    height: fit-content;
    width: fit-content;
    background: #f3f3f3;
    border: 1px solid #87d1da;
}

.lupa{
    padding-right: 3px;
    display: flex;
    cursor: pointer;
    border: none;
}

.pesquisa input{
    background-color: transparent;
    border: none;
    color: #4ca5b3;
    font-size: 16px;
    font-weight: normal;
    outline: none;
    padding: 0;
    width: 225px;
}

input::placeholder{
    color: #4ca5b3;
}

main{
    display: flex;
    align-items: center;
}

.galeria{
    width: 100vw;
    margin: 0 auto;   
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: center;	
    padding: 12px 0px;
}

.galeria > *{
    width: 180px;
    float: left;
}

.galeria img{
    max-width: 200px;
    height: 200px;
    cursor: pointer;
    transition: linear 50ms;
    border-radius: 8px;
    background: #4ca5b3;
}

.galeria img:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #000;
}